{% extends 'web/base.html' %}
{% block title %}Follow{% endblock title %}
{% block body %}
<style>
  body {
    background-image: url('/static/black.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
</style>
<!-- <link rel="stylesheet" href="/static/black.jpg">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="center">
  <div id="social-test">
  <ul class="social">
    <li><a href="https://www.facebook.com/avengers/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
    <li><a href="https://twitter.com/avengers?lang=en"><i class="fa fa-twitter" aria-hidden="true"></a></i></li>
    <li><a href="https://www.instagram.com/avengers/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    <li><a href="https://www.youtube.com/channel/UCvC4D8onUfXzvjTOM-dBfEA"><i class="fa fa-youtube" aria-hidden="true"></a></i></li>
    <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></a></i></li>
    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></a></i></li>
  </li>
  </ul>
  <p class="credits">For more awesome social buttons<a href="https://colorlib.com/wp/html-social-buttons-templates/"> click here</a></p>
  </div>
</div> -->

{% endblock body %}
