{% extends 'web/base.html' %}
{% block title%}Home{% endblock title %}
{% block body %}
<!--Section: Block Content-->
<head>
  
  <link rel="stylesheet" type="text/css" href="static/main_styles.css">
  <link rel="stylesheet" type="text/css" href="/static/responsive.css">
</head>
<section>

  <!--Carousel Wrapper-->
  <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-2" data-slide-to="1"></li>
      <li data-target="#carousel-example-2" data-slide-to="2"></li>
    </ol>
    <!--/Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="view">
          <img class="d-block w-100" src="/static/aven6.jpg" width="1620" height="700" 
            alt="First slide">
          <a href="#!">
            <div class="mask rgba-black-light"></div>
          </a>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Avnengers United!!!</h3>
          <p>Mechandise</p>
        </div>
      </div>
      <div class="carousel-item">
        <!--Mask color-->
        <div class="view">
          <img class="d-block w-100" src="/static/avne4.jpg" width="=1620" height="700" 
            alt="Second slide">
          <a href="#!">
            <div class="mask rgba-black-light"></div>
          </a>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">The Best Ones Are Here</h3>
          <p>Exclusive Offers</p>
        </div>
      </div>
      <div class="carousel-item">
        <!--Mask color-->
        <div class="view">
          <img class="d-block w-100" src="/static/avne3.jpg" width="=2000" height="700" 
            alt="Third slide">
          <a href="#!">
            <div class="mask rgba-black-light"></div>
          </a>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Great Variety</h3>
          <p>Super Exclusive</p>
        </div>
      </div>
    </div>
    <!--/Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/Controls-->
  </div>
  <!--/Carousel Wrapper-->

</section>
<style>
  body {
    background-image: url('/static/aven.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
</style>
<div class="container my-3">
  <h1 class="my-4 text-center" style="color: white;">Popular Merchandise!</h1>  
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="/static/glow1.jpg" class="d-block w-100" alt="...">
        {% if product1.offer %}
          <div class="spec_offer text-center"><a href="#">Special Offer</a></div>
        {% endif %}
        <!-- <div id="content">
        <div class="discount-label red"> <span>-10%</span> </div>
        </div> -->
        <div class="card-body">
          <h5 class="card-title">{{product1.name}}</h5>
          <p class="card-text">{{product1.desc}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="{% url 'buy' %}" class="btn btn-primary">Buy This</a>
              <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
            </div>
            <h4>₹499.00</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="/static/spiderman.jpg" class="d-block w-100" alt="...">
        <div class="spec_offer text-center"><a href="#">Special Offer</a></div>
        <div class="card-body">
          <h5 class="card-title">SPIDER-MAN LOGO - MARVEL OFFICIAL HOODIE</h5>
          <p class="card-text">The artwork will be screen printed to perfection on our 100% 
          brushed cotton Redwolf branded hoodie featuring drawstrings and a hood.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="{% url 'buy' %}" class="btn btn-primary">Buy This</a>

              <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
              </div>
            <h4>₹1599.00</h4>
          <!-- <small class="text-muted">9 mins</small> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="/static/ironman.jpg" class="d-block w-100" alt="...">
        <div class="card-body">
          <h5 class="card-title">IRON MAN: INTERFACE - MARVEL OFFICIAL T-SHIRT</h5>
          <p class="card-text">The artwork will be screen printed to perfection on our premium, regular fit 100% Cotton Redwolf branded tees that you know and love.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="{% url 'buy' %}" class="btn btn-primary">Buy This</a>
              <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> 
              -->
            </div>
          <h4>₹599.00</h4>
          <!-- <small class="text-muted">9 mins</small> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="/static/startkind.jpg" class="d-block w-100" alt="...">
        <div class="card-body">
          <h5 class="card-title">STARK INDUSTRIES - MARVEL OFFICIAL JACKET</h5>
          <p class="card-text">The artwork will be screen printed to perfection on our 100% brushed cotton Redwolf branded jacket.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="{% url 'buy' %}" class="btn btn-primary">Buy This</a>
              <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> 
              -->
            </div>
          <h4>₹900.00</h4>
            <!-- <small class="text-muted">9 mins</small> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="/static/civilbag.jpg" class="d-block w-100" alt="...">
        <div class="card-body">
          <h5 class="card-title">CIVIL WAR SHIELD - MARVEL OFFICIAL BACKPACK</h5>
          <p class="card-text">An original concept by Hern - our awesome backpacks come with swappable Skins. Choose from loads of digitally printed designs that can be attached to the same base bag and change your design daily!.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="{% url 'buy' %}" class="btn btn-primary">Buy This</a>
              <!-- <button type="button" class="btn btn-sm 
                btn-outline-secondary">Edit</button> -->
            </div>
          <h4>₹699.00</h4>
          <!-- <small class="text-muted">9 mins</small> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="/static/shield.jpg" class="d-block w-100" alt="...">
        <div class="card-body">
          <h5 class="card-title">CAPTAIN AMERICA: SHIELD - MARVEL OFFICIAL COASTER</h5>
          <p class="card-text">The artwork will be digitally printed on a 3.5x3.5 inch (9x9 cm) coaster.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="{% url 'buy' %}" class="btn btn-primary">Buy This</a>
              <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
            </div>
          <h4>₹399.00</h4>
          <!-- <small class="text-muted">9 mins</small> -->
          </div>
        </div>
      </div>
    </div>


          
  </div>
</div>



{% endblock body %}
