{% extends "web/base.html" %}
{% load static %}
{% block title %}Order Placed{% endblock title %}
{% block body %}
		<style>
			body {
				background-image: url('/static/aven.jpg');
				background-repeat: no-repeat;
				background-attachment: fixed;
				background-size: cover;
			}
		</style>
		<!-- <h2 style="color: white;" >Your Order Placed Successfully</h2> -->
		<div class="border-top pt-3">
			<small class="text-muted pt-3">
				<a  href="{% url 'shop' %}">Continue Shopping</a>
				<h2 style="color: white;">Or</h2>
				<a  href="{% url 'logout' %}">Log Out</a>
			</small>
		</div>	
{% endblock body %}

